<%- include('header') %>
<h1>Contact Me</h1>
<ul>    
    <p>Here is my contact information (They're all fake btw):</p>
    <li>Email    : <%=email%></li>
    <li>Phone    : <%=phone%></li>
    <li>LinkedIn : <a href="<%=linkedIn%>">Click Here</a></li>
</ul>
<%- include('footer') %>
